.banner {
  min-height: calc(100vh - 10px);
  background: rgb(255, 255, 255);
  background: -moz-linear-gradient(
    left,
    rgba(255, 255, 255, 1) 0%,
    rgb(37, 183, 241) 100%
  );
  background: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 1) 0%,
    rgb(37, 183, 241) 100%
  );
  background: linear-gradient(to right, rgb(0, 217, 255) 0%, rgb(0, 0, 0) 100%);
  display: grid;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  position: relative;
  height: 100vh;
}

.home_know_more_button {
  width: 150px;
  height: 37px;
  border-radius: 7px;
  background-color: rgb(3, 3, 36);
  color: rgb(209, 181, 97);
  font-weight: 700;
  margin-top: 30px;
  padding: 10px 0;
  font-family: "Noto Serif", sans-serif;
  border: none;
}
.home_know_more_button:hover {
  background: rgb(209, 181, 97);
  color: rgb(6, 6, 48);
  z-index: -1;
  transition: all 0.3s ease;
  cursor: pointer;
  border-radius: 30px;
}

.banner_title {
  margin-top: -7rem;
}
.banner_title h3 {
  font-size: 2rem;
  font-family: "Noto Serif", sans-serif;
  margin-bottom: 5px;
}
.banner_title h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  font-family: "Noto Serif", sans-serif;
  animation: 1s linear 0s alternate move;
}
.banner_title p {
  letter-spacing: 0.2rem;
  margin-bottom: 1.5rem;
  font-family: "Noto Serif", sans-serif;
  animation: 1s linear 0s alternate move;
  color: var(--darkGray);
}
.banner_img {
  display: none;
}
@media screen and (max-width: 825px) {
  .banner {
    justify-content: center;
  }
}
@media screen and (min-width: 1100px) {
  .banner {
    justify-content: start;
  }
  .banner_title {
    margin-left: 3rem;
  }
  .banner_img {
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0%;
    width: 650px;
    height: 555px;
  }
}
